:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    width: 50%;
    height: 50%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

h1 {
    color: var(--base);
}

span {
    color: var(--base);
}

body {
    text-align: center;
    background: rgba(19, 236, 176, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.controls {
    margin-bottom: 50px;
}