body {
    padding: 0;
    margin: 0;
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.clock{
    height: 30rem;
    width: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0px 4px rgba(0, 0, 0, 0.1)
    inset 0 0 0 3px #efefef
    inset 0 0 10px black
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    width: 50%;
    height: 3px;
    background: red;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.min-hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.hour-hand{
    width: 50%;
    height: 6px;
    background: blue;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}